# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcworkspace

# Xcode
*.xcuserstate
*.xcuserdatad/
DerivedData/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# SwiftLint
.swiftlint.yml